 <div class="d-flex flex-column">
 <!-- Error messages -->
 {% for field in form  %}
 {% if field.errors %}
     <div class="col-12 alert alert-danger">
         <span class="fw-bold"> {{field.label_tag}} </span>
         {% for error in field.errors %}
         <span class="text-danger"> {{error}} </span>
         {% endfor %}
     </div>
 {% endif %}

{% endfor %}

  {% comment %} Non field errors {% endcomment %}

{% for error in form.non_field_errors %}
<div class="alert alert-danger">
<span class="text-danger">{{error}}</span>
</div>
</div>
{% endfor %}

<!-- Success message -->
{% if messages %}
    {% for message in messages %}
        <div class="alert 
            {% if message.tags == 'success' %}alert-success
            {% else %}alert-danger
            {% endif %} 
            alert-dismissible">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}